.p-about.Flex21 {
display: flex;
height: ;
margin-top: 0px;
}
.p-about.Button58 {
color: #ffff;
background-color: #fa8128ff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #fa8128ff;
cursor: pointer;
user-select: none;
margin-top: 30px;
margin-left: 30px;
background-attachment: scroll;
position: relative;
left: 150px;
outline-color: #fa8128ff;
outline-offset: 0.2vh;
outline-style: groove;
}
.p-about.Button59 {
color: #000000ff;
background-color: #ffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffff;
cursor: pointer;
user-select: none;
position: relative;
left: 150px;
margin-top: 30px;
margin-left: 120px;
outline-style: groove;
outline-offset: 0.2vh;
outline-color: #808080ff;
}
.p-about.Button60 {
color: #000000ff;
background-color: #ffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 20px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffff;
cursor: pointer;
user-select: none;
width: ;
height: 50px;
margin-top: 15px;
margin-left: ;
outline-color: #ffff;
}
.p-about.Button61 {
color: #000000ff;
background-color: #ffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 20px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffff;
cursor: pointer;
user-select: none;
width: ;
height: 50px;
margin-top: 15px;
margin-left: ;
outline-color: #ffff;
}
.p-about.Button62 {
color: #000000ff;
background-color: #ffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 20px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffff;
cursor: pointer;
user-select: none;
width: ;
height: 50px;
margin-top: 15px;
margin-left: ;
outline-color: #ffff;
}
.p-about.Button63 {
color: #000000ff;
background-color: #ffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 20px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffff;
cursor: pointer;
user-select: none;
width: ;
height: 50px;
margin-top: 15px;
margin-left: ;
outline-color: #ffff;
}
.p-about.Button64 {
color: #000000ff;
background-color: #ffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 20px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffff;
cursor: pointer;
user-select: none;
width: ;
height: 50px;
margin-top: 15px;
margin-left: ;
outline-color: #ffff;
}
.p-about.Button65 {
color: #fff;
background-color: #ffff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #ffff;
cursor: pointer;
user-select: none;
float: left;
position: absolute;
margin-top: 20px;
margin-left: 25px;
outline-color: #ffff;
width: 310px;
height: 60px;
z-index: 0;
margin-bottom: ;
}
.p-about.Image34 {
margin-top: 10px;
margin-left: 25px;
cursor: pointer;
z-index: 1;
}
